# App
APP_PORT=8181

# Database
DB_USER=tetros
DB_PASSWORD=tetros_secret
DB_NAME=tetros
MYSQL_ROOT_PASSWORD=root_secret

# Admin Panel (/thevoid)
ADMIN_USER=your_admin_username
ADMIN_PASS=your_secure_password
